<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form method="POST">
        <table>
            <tr>
                <td colspan="2">Przedmiot:</td>
                <td colspan="5">Imię i nazwisko:</td>
                <td colspan="2">Suma:</td>
                <td colspan="2">Data:</td>
            </tr>
            <tr>
                <td colspan="2"><input type="text"/></td>
                <td colspan="5"><input type="text"/></td>
                <td colspan="2"><input type="text"/></td>
                <td colspan="2"><input type="text"/></td>
            </tr>
        </table>
        <button type="submit">Send</button>
    </form>
</body>
</html>